<DOCTYPE html>
    <html lang="en">    
    <head>
        <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>RECIPE</title>
<div class="container">
    <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Recipe name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Recipe description</label>
    <textarea class="form-control">
    </textarea>
    <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Recipe image</label>
    <input type="file" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <!-- This is a random comment added for demonstration purposes -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div/>
 </html>